@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body{

font-family: 'MyFont',sans-serif;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxoZTRyytevvE68F77ppHddUk8wYL5-TL1EA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

#nav-bar{

border-bottom: 1px solid black;

}

